<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="77703282-D590-44F2-B748-592E8DCFB660" Language="1033" Manufacturer="vanyog.com" Name="Read the Bible Free" Version="5.3.0" UpgradeCode="DD1495A9-938E-4D02-ABBD-2EECD663E114" Codepage="1251">
        <Package Languages="1033" Compressed="yes" InstallerVersion="500" Comments="Многоплатфорем софтуер за четене и изучаване на Библията." Manufacturer="Vanyo Georgiev" InstallScope="perMachine" />
        <Icon Id="BibleIcon" SourceFile="..\images\win1.ico" />
        <Property Id="ARPPRODUCTICON" Value="BibleIcon" />
        <UI />
        <Media Id="1" Cabinet="Bible5.cab" EmbedCab="yes" />
        <Property Id="ARPURLUPDATEINFO" Value="https://vanyog.com/index.php?pid=24" />
        <Property Id="ARPURLINFOABOUT" Value="https://vanyog.com/index.php?pid=24" />
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="INSTALLDIR" Name="ReadTheBibleFree">
                    <Component Id="MainExe" DiskId="1" Guid="9135597A-427B-4B38-A8AA-C6554362BF2C">
                        <File Id="BIBLE_EXE" Name="Bible5.exe" Source="..\build\rel\Bible5.exe"></File>
                    </Component>
                    <Component Id="ICUUC.DLL_1" DiskId="1" Guid="5E51F00B-FBCF-4D82-8496-19323CD68A76">
                        <File Id="ICUUC.DLL_1" Name="icuuc.dll" Source="..\build\rel\icuuc.dll" />
                    </Component>
                    <Component Id="QT6CORE.DLL_1" DiskId="1" Guid="F1A62E79-37EF-4F13-83C5-BCFC3E22792A">
                        <File Id="QT6CORE.DLL_1" Name="Qt6Core.dll" Source="..\build\rel\Qt6Core.dll" />
                    </Component>
                    <Component Id="QT6GUI.DLL_1" DiskId="1" Guid="AAA3DC5F-0D53-4D24-8EE9-8F8FC6F51D3E">
                        <File Id="QT6GUI.DLL_1" Name="Qt6Gui.dll" Source="..\build\rel\Qt6Gui.dll" />
                    </Component>
                    <Component Id="QT6NETWORK.DLL_1" DiskId="1" Guid="DE0F5963-FAD1-4DB7-9D6C-0CDABEA032F7">
                        <File Id="QT6NETWORK.DLL_1" Name="Qt6Network.dll" Source="..\build\rel\Qt6Network.dll" />
                    </Component>
                    <Component Id="QT6SVG.DLL_1" DiskId="1" Guid="5D824747-8005-426B-8FFA-D73641326889">
                        <File Id="QT6SVG.DLL_1" Name="Qt6Svg.dll" Source="..\build\rel\Qt6Svg.dll" />
                    </Component>
                    <Component Id="QT6WIDGETS.DLL_1" DiskId="1" Guid="5F57E530-C02A-41DD-8DE3-14C12E749E78">
                        <File Id="QT6WIDGETS.DLL_1" Name="Qt6Widgets.dll" Source="..\build\rel\Qt6Widgets.dll" />
                    </Component>
                    <Component Id="Z.DLL_1" DiskId="1" Guid="613E9874-0013-449C-BAAA-8D95AF9A8BCD">
                        <File Id="Z.DLL_1" Name="z.dll" Source="..\build\rel\z.dll" />
                    </Component>
                    <Directory Id="GENERIC_1" Name="generic">
                        <Component Id="QTUIOTOUCHPLUGIN.DLL_1" DiskId="1" Guid="1675F544-C703-406A-9033-67B9DD3C3F8E">
                            <File Id="QTUIOTOUCHPLUGIN.DLL_1" Name="qtuiotouchplugin.dll" Source="..\build\rel\generic\qtuiotouchplugin.dll" />
                        </Component>
                    </Directory>
                    <Directory Id="ICONENGINES" Name="iconengines">
                        <Component Id="QSVGICON.DLL" DiskId="1" Guid="41EF4646-04C0-4038-A680-C5A93033A410">
                            <File Id="QSVGICON.DLL" Name="qsvgicon.dll" Source="..\build\rel\iconengines\qsvgicon.dll" />
                        </Component>
                    </Directory>
                    <Directory Id="IMAGEFORMATS" Name="imageformats">
                        <Component Id="QGIF.DLL" DiskId="1" Guid="CC46FBF1-8B0E-484B-B290-A2F3A827AB3C">
                            <File Id="QGIF.DLL" Name="qgif.dll" Source="..\build\rel\imageformats\qgif.dll" />
                        </Component>
                        <Component Id="QICO.DLL" DiskId="1" Guid="B4BC0B7F-C12E-4B92-8A6C-77C4E3E7BEF8">
                            <File Id="QICO.DLL" Name="qico.dll" Source="..\build\rel\imageformats\qico.dll" />
                        </Component>
                        <Component Id="QJPEG.DLL" DiskId="1" Guid="32345030-89DF-4C3B-96C6-B8FD1ABC7E5E">
                            <File Id="QJPEG.DLL" Name="qjpeg.dll" Source="..\build\rel\imageformats\qjpeg.dll" />
                        </Component>
                        <Component Id="QSVG.DLL" DiskId="1" Guid="23DB2810-A3F6-470D-BB44-4196C4B3224D">
                            <File Id="QSVG.DLL" Name="qsvg.dll" Source="..\build\rel\imageformats\qsvg.dll" />
                        </Component>
                    </Directory>
                    <Directory Id="NETWORKINFORMATION" Name="networkinformation">
                        <Component Id="QNETWORKLISTMANAGER.DLL" DiskId="1" Guid="1919A320-47A0-4D41-B0FD-B1B3C73A6898">
                            <File Id="QNETWORKLISTMANAGER.DLL" Name="qnetworklistmanager.dll" Source="..\build\rel\networkinformation\qnetworklistmanager.dll" />
                        </Component>
                    </Directory>
                    <Directory Id="PLATFORMS" Name="platforms">
                        <Component Id="QWINDOWS.DLL" DiskId="1" Guid="0D45CC8F-43CC-4A6F-B0C2-3A0AFDC42767">
                            <File Id="QWINDOWS.DLL" Name="qwindows.dll" Source="..\build\rel\platforms\qwindows.dll" />
                        </Component>
                    </Directory>
                    <Directory Id="STYLES" Name="styles">
                        <Component Id="QMODERNWINDOWSSTYLE.DLL" DiskId="1" Guid="34EC9AC7-5C25-4B03-A25F-01FCE234482A">
                            <File Id="QMODERNWINDOWSSTYLE.DLL" Name="qmodernwindowsstyle.dll" Source="..\build\rel\styles\qmodernwindowsstyle.dll" />
                        </Component>
                    </Directory>
                    <Directory Id="TLS" Name="tls">
                        <Component Id="QCERTONLYBACKEND.DLL" DiskId="1" Guid="02754268-CF7D-421A-B534-2F6EC151F3B8">
                            <File Id="QCERTONLYBACKEND.DLL" Name="qcertonlybackend.dll" Source="..\build\rel\tls\qcertonlybackend.dll" />
                        </Component>
                        <Component Id="QSCHANNELBACKEND.DLL" DiskId="1" Guid="414C9D7F-DF20-4FA9-935B-672546340D37">
                            <File Id="QSCHANNELBACKEND.DLL" Name="qschannelbackend.dll" Source="..\build\rel\tls\qschannelbackend.dll" />
                        </Component>
                    </Directory>
                    <Directory Id="TRANSLATIONS" Name="translations">
                        <Component Id="QT_AR.QM" DiskId="1" Guid="CE970291-9728-421B-9C68-EC483FE32C38">
                            <File Id="QT_AR.QM" Name="qt_ar.qm" Source="..\build\rel\translations\qt_ar.qm" />
                        </Component>
                        <Component Id="QT_BG.QM" DiskId="1" Guid="B25535E6-AC76-421A-A862-69755D4925C5">
                            <File Id="QT_BG.QM" Name="qt_bg.qm" Source="..\build\rel\translations\qt_bg.qm" />
                        </Component>
                        <Component Id="QT_CA.QM" DiskId="1" Guid="A0A8E718-72AD-434A-A7E5-2E4AE49295F4">
                            <File Id="QT_CA.QM" Name="qt_ca.qm" Source="..\build\rel\translations\qt_ca.qm" />
                        </Component>
                        <Component Id="QT_CS.QM" DiskId="1" Guid="00FC4621-B6FD-4763-8383-4BEB4B8C127F">
                            <File Id="QT_CS.QM" Name="qt_cs.qm" Source="..\build\rel\translations\qt_cs.qm" />
                        </Component>
                        <Component Id="QT_DA.QM" DiskId="1" Guid="EE1F32FB-BBAF-404B-9D98-DC964825ABC6">
                            <File Id="QT_DA.QM" Name="qt_da.qm" Source="..\build\rel\translations\qt_da.qm" />
                        </Component>
                        <Component Id="QT_DE.QM" DiskId="1" Guid="8FB155A0-6B7F-49E1-8D30-AEC409B0507B">
                            <File Id="QT_DE.QM" Name="qt_de.qm" Source="..\build\rel\translations\qt_de.qm" />
                        </Component>
                        <Component Id="QT_EN.QM" DiskId="1" Guid="6303CD0A-E5EB-43E7-8949-0ECEDE952AE6">
                            <File Id="QT_EN.QM" Name="qt_en.qm" Source="..\build\rel\translations\qt_en.qm" />
                        </Component>
                        <Component Id="QT_ES.QM" DiskId="1" Guid="6947025B-9A75-4C8D-9137-B821A88A1A9F">
                            <File Id="QT_ES.QM" Name="qt_es.qm" Source="..\build\rel\translations\qt_es.qm" />
                        </Component>
                        <Component Id="QT_FA.QM" DiskId="1" Guid="4A155DCD-9BCE-497D-9BCF-7B1246BE8032">
                            <File Id="QT_FA.QM" Name="qt_fa.qm" Source="..\build\rel\translations\qt_fa.qm" />
                        </Component>
                        <Component Id="QT_FI.QM" DiskId="1" Guid="D471B22A-024A-4624-A7C7-3A140F096548">
                            <File Id="QT_FI.QM" Name="qt_fi.qm" Source="..\build\rel\translations\qt_fi.qm" />
                        </Component>
                        <Component Id="QT_FR.QM" DiskId="1" Guid="039E18EC-C6EA-48D9-BE02-76F89BA116B1">
                            <File Id="QT_FR.QM" Name="qt_fr.qm" Source="..\build\rel\translations\qt_fr.qm" />
                        </Component>
                        <Component Id="QT_GD.QM" DiskId="1" Guid="CB2F1947-534C-4E0E-B81B-3982A2F041FD">
                            <File Id="QT_GD.QM" Name="qt_gd.qm" Source="..\build\rel\translations\qt_gd.qm" />
                        </Component>
                        <Component Id="QT_HE.QM" DiskId="1" Guid="6C0ACA27-5CD3-4699-AD6F-8A531A970190">
                            <File Id="QT_HE.QM" Name="qt_he.qm" Source="..\build\rel\translations\qt_he.qm" />
                        </Component>
                        <Component Id="QT_HR.QM" DiskId="1" Guid="579C367B-90EE-4DE2-97A8-6027DD22ADB8">
                            <File Id="QT_HR.QM" Name="qt_hr.qm" Source="..\build\rel\translations\qt_hr.qm" />
                        </Component>
                        <Component Id="QT_HU.QM" DiskId="1" Guid="54FA392F-D8EA-40CB-96A3-9A03D6F91CFA">
                            <File Id="QT_HU.QM" Name="qt_hu.qm" Source="..\build\rel\translations\qt_hu.qm" />
                        </Component>
                        <Component Id="QT_IT.QM" DiskId="1" Guid="BA75A4D6-F7EE-4568-A015-352201659A5A">
                            <File Id="QT_IT.QM" Name="qt_it.qm" Source="..\build\rel\translations\qt_it.qm" />
                        </Component>
                        <Component Id="QT_JA.QM" DiskId="1" Guid="62EC7044-B754-4C40-B96F-6759EF124FA2">
                            <File Id="QT_JA.QM" Name="qt_ja.qm" Source="..\build\rel\translations\qt_ja.qm" />
                        </Component>
                        <Component Id="QT_KA.QM" DiskId="1" Guid="0361C99F-D4F4-46DA-9E14-4335D1021AF9">
                            <File Id="QT_KA.QM" Name="qt_ka.qm" Source="..\build\rel\translations\qt_ka.qm" />
                        </Component>
                        <Component Id="QT_KO.QM" DiskId="1" Guid="5B71EED3-E696-4151-8F34-5A231C351FD5">
                            <File Id="QT_KO.QM" Name="qt_ko.qm" Source="..\build\rel\translations\qt_ko.qm" />
                        </Component>
                        <Component Id="QT_LG.QM" DiskId="1" Guid="DBC11572-2F80-4881-AB15-CFC752B64FE3">
                            <File Id="QT_LG.QM" Name="qt_lg.qm" Source="..\build\rel\translations\qt_lg.qm" />
                        </Component>
                        <Component Id="QT_LV.QM" DiskId="1" Guid="464637F2-230B-4BDB-81B3-5A75B521838E">
                            <File Id="QT_LV.QM" Name="qt_lv.qm" Source="..\build\rel\translations\qt_lv.qm" />
                        </Component>
                        <Component Id="QT_NL.QM" DiskId="1" Guid="09FB737B-83AB-4477-9CD4-0E59AD48E86B">
                            <File Id="QT_NL.QM" Name="qt_nl.qm" Source="..\build\rel\translations\qt_nl.qm" />
                        </Component>
                        <Component Id="QT_NN.QM" DiskId="1" Guid="16AC466E-2996-4953-A450-FA096059B3FA">
                            <File Id="QT_NN.QM" Name="qt_nn.qm" Source="..\build\rel\translations\qt_nn.qm" />
                        </Component>
                        <Component Id="QT_PL.QM" DiskId="1" Guid="C1E0032C-259C-449B-85A9-17CAF148D41B">
                            <File Id="QT_PL.QM" Name="qt_pl.qm" Source="..\build\rel\translations\qt_pl.qm" />
                        </Component>
                        <Component Id="QT_PT_BR.QM" DiskId="1" Guid="260B0B33-10F2-4A43-B3CC-5DCC48824AED">
                            <File Id="QT_PT_BR.QM" Name="qt_pt_BR.qm" Source="..\build\rel\translations\qt_pt_BR.qm" />
                        </Component>
                        <Component Id="QT_RU.QM" DiskId="1" Guid="8EE15DDB-21CC-4AC2-846A-7B803D4C0842">
                            <File Id="QT_RU.QM" Name="qt_ru.qm" Source="..\build\rel\translations\qt_ru.qm" />
                        </Component>
                        <Component Id="QT_SK.QM" DiskId="1" Guid="208959EC-A7E6-4745-A0B8-5A21BA5C98B5">
                            <File Id="QT_SK.QM" Name="qt_sk.qm" Source="..\build\rel\translations\qt_sk.qm" />
                        </Component>
                        <Component Id="QT_SV.QM" DiskId="1" Guid="D51C65F9-04C4-4A7D-9AE6-516FCB8365AE">
                            <File Id="QT_SV.QM" Name="qt_sv.qm" Source="..\build\rel\translations\qt_sv.qm" />
                        </Component>
                        <Component Id="QT_TR.QM" DiskId="1" Guid="8E3903FA-5555-47A2-ADFE-8A0736B61E57">
                            <File Id="QT_TR.QM" Name="qt_tr.qm" Source="..\build\rel\translations\qt_tr.qm" />
                        </Component>
                        <Component Id="QT_UK.QM" DiskId="1" Guid="4A97D915-DCD5-4A00-B1EE-490A874CA25F">
                            <File Id="QT_UK.QM" Name="qt_uk.qm" Source="..\build\rel\translations\qt_uk.qm" />
                        </Component>
                        <Component Id="QT_ZH_CN.QM" DiskId="1" Guid="EA202710-6A19-4544-9BCC-42B4240DC5E9">
                            <File Id="QT_ZH_CN.QM" Name="qt_zh_CN.qm" Source="..\build\rel\translations\qt_zh_CN.qm" />
                        </Component>
                        <Component Id="QT_ZH_TW.QM" DiskId="1" Guid="941C5533-7958-4B91-8A0E-41F5F4AC9514">
                            <File Id="QT_ZH_TW.QM" Name="qt_zh_TW.qm" Source="..\build\rel\translations\qt_zh_TW.qm" />
                        </Component>
                    </Directory>
                    <Component Id="LIBCRYPTO_3_X64.DLL" DiskId="1" Guid="B3E40581-5012-4ECA-8FAD-81273056336C">
                        <File Id="LIBCRYPTO_3_X64.DLL" Name="libcrypto-3-x64.dll" Source="C:\Program Files\OpenSSL-Win64\libcrypto-3-x64.dll" />
                    </Component>
                    <Component Id="LIBSSL_3_X64.DLL" DiskId="1" Guid="1C713B1F-B27F-45B1-8AAD-BDABCBB89DCA">
                        <File Id="LIBSSL_3_X64.DLL" Name="libssl-3-x64.dll" Source="c:\Program Files\OpenSSL-Win64\libssl-3-x64.dll" />
                    </Component>
                </Directory>
            </Directory>
            <Directory Id="ProgramMenuFolder">
                <Directory Id="StartMenuFolder" Name="Read the Bible Free">
                    <Component Id="StartMenuShortcut" Guid="*">
                        <Shortcut Id="BibleShort1" Name="Read the Bible Free" Target="[INSTALLDIR]Bible5.exe" WorkingDirectory="INSTALLDIR" Icon="BibleIcon" />
                        <RemoveFolder Id="StartMenuFolder" On="uninstall" />
                        <RegistryValue Root="HKCU" Key="Software\ReadTheBibleFree" Name="installed" Type="integer" Value="1" KeyPath="yes" />
                    </Component>
                </Directory>
            </Directory>
            <Directory Id="DesktopFolder">
                <Component Id="DesktopShortcut" Guid="*">
                    <Shortcut Id="BibleShort2" Name="Read the Bible Free" Target="[INSTALLDIR]Bible5.exe" WorkingDirectory="INSTALLDIR" Icon="BibleIcon" />
                    <RegistryValue Root="HKCU" Key="Software\ReadTheBibleFree" Name="desktop" Type="integer" Value="1" KeyPath="yes" />
                </Component>
            </Directory>
        </Directory>
        <Feature Id="Complete" Title="Bible5" Level="1">
            <ComponentRef Id="MainExe" />
            <ComponentRef Id="ICUUC.DLL_1" />
            <ComponentRef Id="QT6CORE.DLL_1" />
            <ComponentRef Id="QT6GUI.DLL_1" />
            <ComponentRef Id="QT6NETWORK.DLL_1" />
            <ComponentRef Id="QT6SVG.DLL_1" />
            <ComponentRef Id="QT6WIDGETS.DLL_1" />
            <ComponentRef Id="Z.DLL_1" />
            <ComponentRef Id="QTUIOTOUCHPLUGIN.DLL_1" />
            <ComponentRef Id="QSVGICON.DLL" />
            <ComponentRef Id="QGIF.DLL" />
            <ComponentRef Id="QICO.DLL" />
            <ComponentRef Id="QJPEG.DLL" />
            <ComponentRef Id="QSVG.DLL" />
            <ComponentRef Id="QNETWORKLISTMANAGER.DLL" />
            <ComponentRef Id="QWINDOWS.DLL" />
            <ComponentRef Id="QMODERNWINDOWSSTYLE.DLL" />
            <ComponentRef Id="QCERTONLYBACKEND.DLL" />
            <ComponentRef Id="QSCHANNELBACKEND.DLL" />
            <ComponentRef Id="QT_AR.QM" />
            <ComponentRef Id="QT_BG.QM" />
            <ComponentRef Id="QT_CA.QM" />
            <ComponentRef Id="QT_CS.QM" />
            <ComponentRef Id="QT_DA.QM" />
            <ComponentRef Id="QT_DE.QM" />
            <ComponentRef Id="QT_EN.QM" />
            <ComponentRef Id="QT_ES.QM" />
            <ComponentRef Id="QT_FA.QM" />
            <ComponentRef Id="QT_FI.QM" />
            <ComponentRef Id="QT_FR.QM" />
            <ComponentRef Id="QT_GD.QM" />
            <ComponentRef Id="QT_HE.QM" />
            <ComponentRef Id="QT_HR.QM" />
            <ComponentRef Id="QT_HU.QM" />
            <ComponentRef Id="QT_IT.QM" />
            <ComponentRef Id="QT_JA.QM" />
            <ComponentRef Id="QT_KA.QM" />
            <ComponentRef Id="QT_KO.QM" />
            <ComponentRef Id="QT_LG.QM" />
            <ComponentRef Id="QT_LV.QM" />
            <ComponentRef Id="QT_NL.QM" />
            <ComponentRef Id="QT_NN.QM" />
            <ComponentRef Id="QT_PL.QM" />
            <ComponentRef Id="QT_PT_BR.QM" />
            <ComponentRef Id="QT_RU.QM" />
            <ComponentRef Id="QT_SK.QM" />
            <ComponentRef Id="QT_SV.QM" />
            <ComponentRef Id="QT_TR.QM" />
            <ComponentRef Id="QT_UK.QM" />
            <ComponentRef Id="QT_ZH_CN.QM" />
            <ComponentRef Id="QT_ZH_TW.QM" />
            <ComponentRef Id="StartMenuShortcut" />
            <ComponentRef Id="DesktopShortcut" />
            <ComponentRef Id="LIBCRYPTO_3_X64.DLL" />
            <ComponentRef Id="LIBSSL_3_X64.DLL" />
        </Feature>
    </Product>
</Wix>